{{template "header.html"}}
<br>
<br>
<br>
<br>
 

<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background-image: url("/static/logo.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Create Student</title>
</head>

<body>
    <form action="/student/studentstore" method="post">
        <a href="/student/studentlist" class="bg-indigo-500 hover:bg-indigo-600 text-white font-medium py-2 px-4 rounded-full">
            Student List
          </a>
          <br>
          <br>
          <br>
          <br>
          <br>
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <section class="max-w-4xl p-6 mx-auto bg-white rounded-md shadow-md dark:bg-red-800">
            <h2 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">Create Student</h2>
            <br>
            <br>


            <label for="">Select a class</label>
            <select name ="ClassID" id ="class_id">
                  {{ range .Classlists}}
                  <option value="{{.ID}}">{{.ClassName}}</option>
    
                    {{end}}
                </select>




            <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
                <div>
                    <label class="text-gray-700 dark:text-gray-200" for="username">First Name</label>
                    <input  type="text" name="FirstName" value="{{.Student.FirstName}}"
                    
                        class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                        {{ with (index .FormError "first_name") }}
                        <p style="color: red;">{{.}}</p>
                        {{end}}
                    
                </div>
                <div>
                    <label class="text-gray-700 dark:text-gray-200" for="username">Last Name</label>
                    <input  type="text" name="LastName" value="{{.Student.LastName}}"
                        class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                        {{ with (index .FormError "last_name") }}
                        <p style="color: red;">{{.}}</p>
                        {{end}}
                </div>
                <div>
                    <label class="text-gray-700 dark:text-gray-200" for="roll">Roll</label>
                    <input type="number" name="Roll" value="{{.Student.Roll}}"
                        class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                        {{ with (index .FormError "roll") }}
                        <p style="color: red;">{{.}}</p>
                        {{end}}
                </div>

              
            </div>

            <div class="flex justify-end mt-6">
                <button
                    class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600">Save
                </button>
            </div>
    </form>
    </section>

</body>

</html>
