<!DOCTYPE html>
<html>
<head>
    <title>Subject Form</title>
</head>
<body>
    <h1>Subject Form</h1>
        <form action="/sub/substore" method="post">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

            <label for="">Select a class</label>
        <select name ="ClassID" id ="class_id">
              {{ range .Classlists}}
              <option value="{{.ID}}">{{.ClassName}}</option>

                {{end}}
            </select>

                <label for="SubjectName">Subject </label>
                <input type="text" name="SubjectName"  value="">
                {{ with (index .FormError "subject_name") }}
                <p style="color: red;">{{.}}</p>
                {{end}}
        <br><br>
        <button type="submit">Submit</button>
    </form>

   
</body>
</html>
