{{template "header.html"}}


<body>
  
  <form action="/class/store" method="post" class="bg-white p-6 rounded-lg">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    <a href="/class/classlist" class="bg-indigo-500 hover:bg-indigo-600 text-white font-medium py-2 px-4 rounded-full">
      Class List
    </a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="mb-4">
      <label class="block text-gray-700 font-medium mb-2" for="first_name"> Class</label>
      <input
        class="shadow appearance-none border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"type="text" name="ClassName" placeholder=" input Class name" value="{{.Class.ClassName}}"/>
        {{ with (index .FormError "class_name") }}
        <p style="color: red;">{{.}}</p>
        {{end}}
    </div>
    
    <button class="bg-indigo-500 hover:bg-indigo-600 text-white font-medium py-2 px-4 rounded-full">
      SUBMIT
    </button>
  </form>

   
</body>

{{ template "footer.html"}}


